<h1>X2Fed Invoices</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each invoice.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, fname, lname, homeworld and age }}
        {{#each invoice}}
        <tr>
            <td>{{this.invoiceID}}</td>
            <td>{{this.customerID}}</td>
            <td>{{this.invoiceStatusID}}</td>
            <td>{{this.invoiceNumber}}</td>
            <td>{{this.createdAt}}</td>
            <td>{{this.paidAt}}</td>
            <td>{{this.closedAt}}</td>
            <td>{{this.totalAmount}}</td>

            {{! DELETE form }}
            <form id='delete_invoice_form'>
                <input type='hidden' name='delete_invoice_id' value='{{this.invoiceID}}' />
                <input type='hidden' name='delete_invoice_number' value='{{this.invoiceNumber}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form }}
<h2>Create an Invoice</h2>
<form class='cuForm' id='create_invoice_form'>
    <label for='create_invoice'>New Invoice: </label>
    <input type='int' name='create_invoice' id='create_invoice' required />


{{! To be changed to selecting the customer with dropdown menu}}
    <label for='select_invoice_form'>Invoice Number: </label>
    <input type='text' name='select_invoice' id='select_invoice' />

{{! Maybe create invoiceStatusID? }}


    <input type='submit' />
</form>

{{! UPDATE form }}
{{! May not include due to it being a transaction}}
<h2>Update an Invoice</h2>
<form class='cuForm' id='update_invoice_form'>
    <label for='update_ invoice_id'>Invoice to Update: </label>
    <select name='update_ invoice_id' id='update_ invoice_id' required>
        <option value='' disabled selected>Select an Invoice</option>
        {{#each invoice}}
        <option value='{{this.id}}' required>
            {{this.invoiceID}}
            -
            {{this.invoiceNumber}}
        </option>
        {{/each}}
    </select>

{{! Trigger to update the status of the invoice}}
    <label for='update_invoice_status'>New Invoice Status: </label>
    <input type='text' name='update_invoice_status' id='update_invoice_status' min='0' />

    <label for='update_paid_at'>Payment Date: </label>
    <input type='text' name='update_paid_at' id='update_paid_at' min='0' />

    <label for='update_closed_date'>Enter closed date: </label>
    <input type='text' name='update_closed_date' id='update_closed_date' min='0' />

    <input type='submit' />
</form>
